fastapi
uvicorn
langgraph
langchain
langchain-openai
openai
python-dotenv
pydantic
pymupdf
pytesseract
pillow
gspread
google-auth
google-api-python-client
python-multipart
jinja2
pandas
numpy
google-auth-oauthlib
